li{
    list-style: none;
    display: inline-block;
    widows: 30%;
    margin: 1%;
}

.talento{
    background-color: teal;
}

.administrativa{
    background-color: sienna;
}


.analitica{
    background-color: royalblue;
}
